<div class="login-page-container">
    <div class="logo-area">
        <img src="../../assets/bulk/logo.png" alt="">
    </div>
    <div class="login-box">
        <h1 class="box-title">Sign In</h1>
        <div class="input-area">
            <input class="email-detail" type="email" placeholder="Email or Phone number" required>
            <input class="password-detail" type="password" placeholder="Password" required>
        </div>
        <button class="btn sign-in-button">
            Sign In
        </button>
        <div class="help-wrapper">
            <div class="remember-me">
                <input type="checkbox">
                <span><label for="remember-me">Remember me?</label></span>
            </div>

            <div class="need-help">
                Need Help?
            </div> 
        </div>

        <div class="sign-up-section">
            <p>New to Netflix? <span class="sign-up-link"><a href="">Sign up now</a></span></p>
            <p class="disclaimer-text">This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</p>
        </div>
    </div>
</div>