<header class="homepage-header">
    <div class="homepage-content">
        <div class="header-top">
            <div class="logo">
                <img src="../../assets/bulk/logo.png" />
            </div>
            <div class="header-top-right">
                <!-- <mat-form-field class="language-select">
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Nepal</mat-option>
                        <mat-option value="option2">Hindi</mat-option>
                        <mat-option value="option3">English</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <select class="language-select">
                    <option value="en" selected>
                        English</option>
                    <option value="ne">Nepal</option>
                </select>
                <button class="sign-out-btn red-button">Sign Out</button>
            </div>
        </div>
        <div class="highlight-text">
            <div class="welcome-text">
                <span>Welcome back, Ramchandra</span>
            </div>
            <div class="bold-text">
                Unlimited Movies, TV shows, and more.
            </div>
            <div class="footer-text">
                <span>Watch anywhere. Cancel anytime</span>
            </div>
            <div>
                <button class="restart-membership-btn red-button">Restart Your Membership ></button>
            </div>
        </div>
    </div>
</header>
