<header class="homepage-header">
    <div class="homepage-content">
        <div class="header-top">
            <div class="logo">
                <img src="../../assets/bulk/logo.png" />
            </div>
            <div class="header-top-right">
                <select class="language-select">
                    <option value="en" selected>English</option>
                    <option value="ne">Nepal</option>
                </select>
                <button class="sign-out-btn">Sign Out</button>
            </div>
        </div>
        <div class="highlight-text">
            <div class="welcome-text">
                <span>Welcome back, USERNAME</span>
            </div>
            <div>
                Unlimited Movies, TV shows, and more.
            </div>
            <div>
                <span>Watch anywhere. Cancel anytime</span>
            </div>
            <div>
                <button>Restart Your Membership</button>
            </div>
        </div>
    </div>
</header>
